 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Fonts//
$Anton: 'Anton', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Pacifico: 'Pacifico', cursive;

//Colors//
$grey: lightgrey;
$watermelon: HSLA(357, 100%, 71%, 1.0);
$blue: HSLA(194, 100%, 68%, 1);
$melrose: HSLA(272, 39%, 79%, 1);


// Custom Styles
body {
  font-family: $Raleway;
  background: url('../images/chevron.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header {
  width:100%;
  background: url('../images/dots.jpg');

  h1 {
  font-family: $Pacifico;
  color: $watermelon;
  text-align: center;
  font-size: 60px;
  }
}

.holiday_page {
  @include outer-container;

.reminder {
  @include span-columns(3.5);
  position: relative;
  float: left;
  height: 400px;
  margin-top: 22px;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  background-color: white;
  border: 3px $grey solid;

  .pretty {
    @include span-columns(12);
    position: relative;
    height: 341px;
    margin-top: 28px;
    background: url('../images/triangle.png');

    h3 {
      margin-top: 100px;
      font-family: $Anton;
      text-align: center;
      color: $watermelon;
    }
  }
}

.addInfo {
  @include span-columns(3);
  position: absolute;
  float: left;
  margin-bottom:100px;
  background-color: white;
  border: 3px $grey solid;
  border-radius: 6px;
  padding: 40px;
  z-index: 2;

  h2 {
    margin-top: 0px;
    font-family: $Anton;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1px;
    color: $melrose;
  }

    #street_address, #city_address, #comments {
      width: 100%;
      margin: 3px auto;
      overflow: auto;
      color: black;
    }

    #event_shop, #date, #name, #last {
      width: 100%;
      margin: 3px auto;
      color: black;
    }

      #addButton {
        text-decoration:none;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 64%;
        color: white;
        background-color: $melrose;
      }
}

.main {
  @include span-columns(8);
  float: right;
  margin-bottom:100px;
  font-size: 16px;
  background-color: white;
  border: 3px $grey solid;
  border-radius: 6px;
  padding: 40px;

  h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: $Anton;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1px;
    color: $melrose;
  }

  #happy_holidays .cheers {
    display: block;
    padding: 0px;

  li{
    @include span-columns(6);
    @include omega(2n);
    background-color: $watermelon;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style:none;

    &:hover {
      background-color: $blue;
    }

    #updateButton {
      float: right;
      width: 15%;
      height: 40px;
      border-radius: 100%;
      padding-top: 10px;
      text-align: center;
      color: black;
      background-color: $melrose;
    }
  }
  }

#update_event, #update_name {
  float: left;
  width: 49%;
  margin: 3px auto;
  color: black;
}

#update_date, #update_last {
  float: right;
  width: 49%;
  margin: 3px auto;
  color: black;
}

#update_street, #update_city, #update_comments {
  width: 100%;
  margin: 3px auto;
  overflow: auto;
  color: black;
}

#happy_holidays .HolidaySingle {
  padding: 0px;

  li{
    background-color: $watermelon;
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style:none;
  }

  #commentButton {
    color: white;
    background-color: $melrose;
  }

  #delete {
    float: right;
    color: white;
    background-color: $melrose;
  }

  .notes li{
    padding: 10px;
  }
}
}

  h4 {
    border-top: 1px solid black;
    padding-left: 5px;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    color: $melrose;
    background-color: white;
  }

  .card-header p {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
  }

  .card-copy1 p, .card-copy2 p {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    color: white;
  }
}

#formNote {
  margin-top: 10px;
  color: black;
}

#addNote {
  float: left;
  color: white;
  background-color: $melrose;
}

#deleteButton2 {
  float: right;
  width: 15%;
  height: 40px;
  border-radius: 100%;
  padding-top: 10px;
  text-align: center;
  color: black;
  background-color: $melrose;
}
