 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url('../images/bow.jpg');
}


.holiday_hero {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom:100px;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-size: 47px;
    line-height: 1;
    letter-spacing: -1px;
  }

  #happy_holidays .cheers {
    padding: 0px;

  li{
    background-color: hsla(215,55%,39%,1);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style:none;

    &:hover {
      background-color: hsla(349,100%,43%,1);
    }
  }
  }

  #event_shop, #name, {
    width: 230px;
  }

  #date, #age {
    float: right;
    width: 230px;
  }

  #street_address, #city_address {
    width: 480px;
  }

  #addButton {
    text-decoration:none;
    border-radius: 10px;
    margin-top:10px;
    margin-left:29%;
    color: white;
    background-color: HSLA(280, 100%, 50%, 1);
  }

  #holiday_comments {
    width: 460px;
    color:black;
  }

  #commentButton {
    color: white;
    background-color: HSLA(280, 100%, 50%, 1);
  }

  #delete {
    float: right;
    color: white;
    background-color: HSLA(280, 100%, 50%, 1);
  }
}

a {
  color:white;
  text-decoration: none;
}

 #happy_holidays .HolidaySingle {
  padding: 0px;

  li{
    background-color: hsla(215,55%,39%,1);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style:none;
  }

}

  h5 {
    border-top: 1px solid black;
    padding-left: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
    color: hsla(215,55%,39%,1);
    background-color: white;
  }

  .card-header p {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
  }

  .card-copy p {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 0px;
  }
