<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>using</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">
    <link href='http://fonts.googleapis.com/css?family=Anton|Raleway|Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>

  </head>
  <body>
    <div class="header">
      <h1>Guide to Gifts</h1>
    </div>
    <div class="holiday_page">
      <div class="reminder">
        <div class="pretty">
          <h3>Everything </br> Correct ?</h3>
        </div>
      </div>

      <div class= "addInfo">
          <h2>Gift Information</h2>
          <div id= "holidayAdder">
      </div>

        </div>
          <div class= "main">
            <h2>Shopping List</h2>
              <div class="sorts">
                <a href="#/sort/date">Date</a> &bull;
                <a href="#/sort/event_shop">Event</a> &bull;
                <a href="#/sort/last">Last Name</a>
              </div>
            <div id="happy_holidays"></div>
          </div>
    </div>

    <script type="text/template" id="addHoliday">
        <form id="holidayForm">
          <input type="text" id="event_shop" placeholder="Event"/>
          <input type="date" id="date" placeholder="Date"/>
          <input type="text" id="name" placeholder="First Name"/>
          <input type="text" id="last" placeholder="Last Name"/>
          <input type="text" id="street_address" placeholder="Street Address"/>
          <input type="text" id="city_address" placeholder="City, State Zipcode"/>
          <textarea id="comments" placeholder="Gift Ideas"></textarea>
            <button id="addButton">New Gift</button>
        </form>
    </script>

    <script type="text/template" id="listHoliday">
      <li class="card" id="<%= _id %>">
          <a href="#/edit/<%= _id %>"><div id="updateButton">Edit</div></a>
          <div class="card-header">
            <h4>Gift Info for <%= name %> <%= last %></h4>
            <p><%= event_shop %> is on <%=
moment(date).format("MMM Do") %>.</p>
          <% if(street_address !== '' && city_address !== '') { %>
              <div class="card-copy1">
                <h4>Mailing Address</h4>
                  <p id="address"><%= street_address %></br>
                   <%= city_address %></p></div>
          <% } %>
          <% if(comments !== '') { %>
              <div class="card-copy2">
                <h4>Gift Ideas</h4>
                  <p id="comment"><%= comments %></p></div>
          <% } %>
      </li>
    </script>

    <script type="text/template" id="singleHoliday">
      <li class="card" id="<%= _id %>">
        <form id="holidayForm_update">
          <div class="card-header">
            <p><%= name %> <%= last %></p>
          </div>
          <div class="card-copy">
              <input type="text" value="<%= event_shop %>" id="update_event" placeholder="Event"/>
              <input type="date" value="<%= date %>" id="update_date" placeholder="Date"/>
              <input type="text" value="<%= name %>" id="update_name" placeholder="First Name"/>
              <input type="text" value="<%= last %>" id="update_last" placeholder="Last Name"/>
              <input type="text" value="<%= street_address %>" id="update_street" placeholder="Street Address"/>
              <input type="text" value="<%= city_address %>" id="update_city" placeholder="City, State Zipcode"/>
              <textarea id="update_comments" value="<%= comments %>" placeholder="Gift Ideas"></textarea>
          </div>
            <button id="commentButton">Update Information</button>
            <button id="delete">Delete Info</button>
        </form>
      </li>
    </script>

    <script type="text/javascript">
        window.App ={};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
    </script>

    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
