<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>using</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="holiday_hero">
      <h1>Playing with Backbone.js</h1>
        <div id= "holidayAdder"></div>
        <div id ="happy_holidays"></div>
    </div>


        <script type="text/template" id="addHoliday">
          <form id="holidayForm">
            <input type="text" id="name" placeholder="Holiday Name"/>
            <input type="text" id="date" placeholder="Holiday Date"/>
            <input type="text" id="character" placeholder="Holiday Character"/>
            <input type="text" id="food" placeholder="Holiday Food"/>
            <input type="text" id="plant" placeholder="Holiday Plant"/>
            <button>Add Holiday</button>
          </form>
        </script

        <script type="text/template" id="happy">
        <li id= "<%= _id %>" >I love to celebrate <%= name %> on <%= date %>. When I see <%= character %>, I always think of <%= food %> and <%= plant %>.</li>
        </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script type="text/javascript">
            window.App ={};
            App.Models = {};
            App.Collections = {};
            App.Views = {};
        </script>

        <script src="scripts/Models/models.js"></script>
        <script src="scripts/Collections/collections.js"></script>
        <script src="scripts/Views/views.js"></script>
        <script src="scripts/Views/add_holidays.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
